body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background: #cdb4db;
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: #016f32;
    text-shadow: 0 0 1px #ffffff;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: #a2d2ff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;

}